In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt

import os

2023-06-13 23:20:05.096710: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-06-13 23:20:05.096791: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
work_dir = os.getcwd() + '/' # save the path to the current directory.

In [4]:
filenames = [] # name of the csv files in the training set.
df_train_orig = pd.DataFrame(columns=[]) # All the csv files will concatenate to this file to form a single 'train' data set.
for (root, dirs, files) in os.walk(work_dir+"data/SMNI_CMI_TRAIN/"):
    for name in files:
#         filename = os.path.join(root, name)
        filenames.append(name)
        file = pd.read_csv(root+name)
        df_train_orig = pd.concat([df_train_orig, file])

In [5]:
df_train_orig.to_csv('trainset.csv', index=False)

In [6]:
df_train_orig.head()

,Unnamed: 0,trial number,sensor position,sample num,sensor value,subject identifier,matching condition,channel,name,time
0,5,11,FP1,0,2.787,a,S2 match,0,co2a0000365,0.000000
1,6,11,FP1,1,1.322,a,S2 match,0,co2a0000365,0.003906
2,7,11,FP1,2,1.811,a,S2 match,0,co2a0000365,0.007812
3,8,11,FP1,3,4.252,a,S2 match,0,co2a0000365,0.011719
4,9,11,FP1,4,6.205,a,S2 match,0,co2a0000365,0.015625

In [16]:
# drop columns with no useful information,
# 'sample num' shows equivalent information as 'time' column: sample num = (time * frequency)^{-1}
# 'channel' number is equivalent to 'sensor position'.
df_train = df_train_orig.drop(['Unnamed: 0', 'sample num', 'channel'], axis=1)
# move the target feature "subject identifier" to the last column.
df_train.insert((df_train.shape[1]-1), 'subject identifier', df_train.pop('subject identifier'))
df_train.head()

,trial number,sensor position,sensor value,matching condition,name,time,subject identifier
0,11,FP1,2.787,S2 match,co2a0000365,0.000000,a
1,11,FP1,1.322,S2 match,co2a0000365,0.003906,a
2,11,FP1,1.811,S2 match,co2a0000365,0.007812,a
3,11,FP1,4.252,S2 match,co2a0000365,0.011719,a
4,11,FP1,6.205,S2 match,co2a0000365,0.015625,a

Let's analyze sample data sets for now

In [49]:
# we pick out randomly selected data files associated with the single trial of 'alcoholic' and 'control' groups.
df_a = df_train.loc[(df_train['name'] == 'co2a0000365') & (df_train['trial number'] == 10)]
df_c = df_train.loc[(df_train['name'] == 'co2c0000337') & (df_train['trial number'] == 0)]
print(f'df_a shape: {df_a.shape}')
print(f'df_c shape: {df_c.shape}')

df_a shape: (16384, 7)
df_c shape: (16384, 7)